<form action="{% url 'place_order' %}", method="POST">
{% csrf_token %}

    <div class="row">
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            First name:{{form.first_name}}
        </div>
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Last name:{{form.last_name}}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Phone:{{form.phone}}
        </div>
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Email:{{form.email}}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Address:{{form.address}}
        </div>
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Country:{{form.country}}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            State: {{form.state}}
        </div>
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            City:{{form.city}}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sn-12 col-lg-6">
            Pin code:{{form.pin_code}}
        </div>
        <button type='submit' href=" {% url 'checkout' %} " class = "btn btn-danger w-100 p-2 mg-3"> place order </button>
    </div
    
        

</form>
